
singularity {
    enabled = true
}

profiles {
    
    standard { 
            includeConfig 'configs/local.config'
        }

    lsf {
            includeConfig "configs/lsf.config"
            process.executor = "lsf"
        }
}

params {

    outdir = "/hps/nobackup/rdf/metagenomics/service-team/users/chrisata/scripts_taxdb_nf_test"
    pipeline_version = "6"
    silva_version = "138.1"

}
