
singularity {
    enabled = true
}

profiles {
    
    standard { 
            includeConfig 'configs/local.config'
        }

    lsf {
            includeConfig "configs/lsf.config"
            process.executor = "lsf"
        }
}

params {

    outdir = "/hps/nobackup/rdf/metagenomics/service-team/users/chrisata/scripts_taxdb_nf_test"
    dummy_fasta = "/hps/software/users/rdf/metagenomics/service-team/users/chrisata/scripts_taxdb_nf/assets/dummy.fasta"
    empty_file = "/hps/software/users/rdf/metagenomics/service-team/users/chrisata/scripts_taxdb_nf/assets/EMPTY.txt"
    pipeline_version = "6"
    

    silva_version = "138.1"
    silva_ssu_label = "SILVA-SSU"
    silva_lsu_label = "SILVA-LSU"
    
    pr2_version = "5.0.0"
    pr2_label = "PR2"
    pr2_download_fasta = "https://github.com/pr2database/pr2database/releases/download/v${pr2_version}/pr2_version_${pr2_version}_SSU_mothur.fasta.gz"
    pr2_download_tax = "https://github.com/pr2database/pr2database/releases/download/v${pr2_version}/pr2_version_${pr2_version}_SSU_mothur.tax.gz"
    pr2_tax_header = "/hps/software/users/rdf/metagenomics/service-team/users/chrisata/scripts_taxdb_nf/assets/pr2_tax_header.txt"

    rfam_download_cm = "https://ftp.ebi.ac.uk/pub/databases/Rfam/CURRENT/Rfam.cm.gz"
}
