params {

    outdir = "/hps/nobackup/rdf/metagenomics/service-team/users/chrisata/taxdb_generation_v6"
    dummy_fasta = "/hps/software/users/rdf/metagenomics/service-team/users/chrisata/taxdb_generation_nf/assets/dummy.fasta"
    empty_file = "/hps/software/users/rdf/metagenomics/service-team/users/chrisata/taxdb_generation_nf/assets/EMPTY.txt"
    pipeline_version = "6"
    publish_dir_mode = 'copy'

    generate_amplicon_db = false 
    generate_uniref90_db = false
    
    silva_version = "138.1"
    silva_download_taxdump = "https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/taxdump_archive/taxdmp_2024-01-01.zip"

    silva_ssu_label = "SILVA-SSU"
    silva_ssu_download_fasta = "https://www.arb-silva.de/fileadmin/silva_databases/release_${silva_version}/Exports/SILVA_${silva_version}_SSURef_tax_silva_trunc.fasta.gz"
    silva_ssu_download_taxmap = "https://www.arb-silva.de/fileadmin/silva_databases/release_${silva_version}/Exports/taxmap_slv_ssu_ref_${silva_version}.txt.gz"
    silva_lsu_label = "SILVA-LSU"
    silva_lsu_download_fasta = "https://www.arb-silva.de/fileadmin/silva_databases/release_${silva_version}/Exports/SILVA_${silva_version}_LSURef_tax_silva_trunc.fasta.gz"
    silva_lsu_download_taxmap = "https://www.arb-silva.de/fileadmin/silva_databases/release_${silva_version}/Exports/taxmap_slv_lsu_ref_${silva_version}.txt.gz"
    
    pr2_version = "5.0.0"
    pr2_label = "PR2"
    pr2_download_fasta = "https://github.com/pr2database/pr2database/releases/download/v${pr2_version}/pr2_version_${pr2_version}_SSU_mothur.fasta.gz"
    pr2_download_tax = "https://github.com/pr2database/pr2database/releases/download/v${pr2_version}/pr2_version_${pr2_version}_SSU_mothur.tax.gz"
    pr2_tax_header = "/hps/software/users/rdf/metagenomics/service-team/users/chrisata/taxdb_generation_nf/assets/pr2_tax_header.txt"

    unite_version = "9.0"
    unite_label = "UNITE"
    unite_repo_url = "https://doi.plutof.ut.ee/doi/10.15156/BIO/2483926"
    unite_download_fasta = "https://files.plutof.ut.ee/public/orig/1A/C1/1AC1288ECCCC67B566050AEEF93A8CC298337B408A24C3E49E17ED28A33AE1BB.gz"
    unite_tax_header = "/hps/software/users/rdf/metagenomics/service-team/users/chrisata/taxdb_generation_nf/assets/unite_tax_header.txt"

    rfam_version = "14.10"
    rfam_label = "RFAM"
    rfam_claninfo = "/hps/software/users/rdf/metagenomics/service-team/users/chrisata/taxdb_generation_nf/assets/temp_ribo.claninfo"
    rfam_download_cm = "https://ftp.ebi.ac.uk/pub/databases/Rfam/${rfam_version}/Rfam.cm.gz"

    itsonedb_version = "1.141"
    itsonedb_label = "ITSone"
    itsonedb_download_fasta = "https://itsonedb.cloud.ba.infn.it/ExportController?dbexport=ENA"
    itsonedb_download_taxdump = "https://ftp.ebi.ac.uk/pub/databases/ena/taxonomy/sdwca.zip"
    itsonedb_tax_header = "/hps/software/users/rdf/metagenomics/service-team/users/chrisata/taxdb_generation_nf/assets/itsonedb_tax_header.txt"

    uniref90_version = "2024_05"
    rheadb_version = "135"
    uniprotKB_access_date = "2024-07-31"
    uniref90_download_fasta = "ftp://ftp.uniprot.org/pub/databases/uniprot/uniref/uniref90/uniref90.fasta.gz"
    rhea_chebi_download_mapping = "ftp://ftp.expasy.org/databases/rhea/txt/rhea-reactions.txt.gz"
    uniprot_rhea_mapping = ""
    uniref90_batch_size = 1000000

}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/hps/nobackup/rdf/metagenomics/service-team/singularity-cache/"
}

profiles {
    
    standard { 
            includeConfig 'configs/local.config'
        }

    slurm {
            includeConfig "configs/slurm.config"
            process.executor = "slurm"
        }
    
    test_local { 
            includeConfig 'configs/test_local.config'
        }
}

includeConfig 'configs/modules.config'
