process {
    withName: REFORMAT_RHEA_CHEBI {
        publishDir = [
            path: { "${params.outdir}/UNIREF90_RHEA/" },
            pattern: 'rhea_chebi_mapping_*.tsv',
            mode: params.publish_dir_mode,
        ]
    }

    withName: DIAMOND_MAKEDB {
        publishDir = [
            [
                path: { "${params.outdir}/UNIREF90_RHEA/" },
                pattern: 'uniref90_rhea_*',
                mode: params.publish_dir_mode,
            ],
            [
            path: { "${params.outdir}/UNIREF90_TAXA/" },
            pattern: 'uniref90_taxa_*',
            mode: params.publish_dir_mode,
            ]
        ]
    }
}