process {
    withName: GENERATE_MSCLUSTER {
        cpus          = 32
        memory        = { 256.GB + (10.GB * (task.attempt-1)) }
        time          = 72.h
    }
    
    withName: REFORMAT_RHEA_CHEBI {
        publishDir = [
            path: { "${params.outdir}/UNIREF90_RHEA/" },
            pattern: 'rhea_chebi_mapping_*.tsv',
            mode: params.publish_dir_mode,
        ]
    }

    withName: DIAMOND_MAKEDB {
        publishDir = [
            [
                path: { "${params.outdir}/UNIREF90_RHEA/" },
                pattern: 'uniref90_rhea_*',
                mode: params.publish_dir_mode,
            ],
            [
            path: { "${params.outdir}/UNIREF90_TAXA/" },
            pattern: 'uniref90_taxa_*',
            mode: params.publish_dir_mode,
            ]
        ]
    }
}