workDir = "work/"

docker {
    enabled       = true
    registry      = 'quay.io'
    runOptions    = "--platform linux/amd64"
}

executor {
    name          = "local"
    cpus          = 2
    memory        = '1 GB'
}

singularity {
    enabled = false
    autoMounts = true
    cacheDir = "/hps/nobackup/rdf/metagenomics/service-team/singularity-cache/"
}